@page
@model HormonaDeCrecimiento.App.Pages_BDPacientes.IndexModel
@{
}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>Lista de pacientes</h2>

<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Dirección</th>
    <th>Opciones <a asp-page="./Create">
    <span class="material-icons">
    person_add_alt_1
    </span></a></th>
    @* <th>Direccion</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
    <th>Fecha de Nacimiento</th>
    <th>Familiar</th>
    <th>Historia</th>
    <th>Endocrino</th>
    <th>Pediatra</th> *@
  </tr>
  </thead>
  @foreach (var paciente in Model.pacientes)
  {
    <tr>
        <td>@paciente.Nombre</td>
        <td>@paciente.Apellido</td>
        <td>@paciente.Telefono</td>
        <td>@paciente.Direccion</td>
        <td>
        <a asp-page="./Details" asp-route-id="@paciente.Id">
        <span class="material-icons">
        info
        </span></a> 
        <a asp-page="./Edit" asp-route-id="@paciente.Id">
        <span class="material-icons">
        edit
        </span></a> 
        <a asp-page="./Delete" asp-route-id="@paciente.Id">
        <span class="material-icons"> 
        delete
        </span></a>
        <a asp-page="./AsignarMedico" asp-route-id="@paciente.Id">
        <span class="material-icons"> 
        medication
        </span></a>
        <a asp-page="./AddPatron" asp-route-id="@paciente.Id">
        <span class="material-icons"> 
        insights
        </span></a>
        <a asp-page="./AsignarFamiliar" asp-route-id="@paciente.Id">
        <span class="material-icons"> 
        family_restroom
        </span></a><br>
    </td>
        @* <td>@paciente.Direccion</td>
        <td>@paciente.Latitud</td>
        <td>@paciente.Longitud</td>
        <td>@paciente.Ciudad</td>
        <td>@paciente.FechadeNacimiento</td>
        <td>paciente.Familiar</td>
        <td>paciente.Historia</td>
        <td>paciente.Endocrino</td>
        <td>paciente.Pediatra</td> *@
    </tr>
  }
</table>

